.allUsersPage{
  display:flex;
  flex-direction: column;
}

h1{
  color: aqua;
}

.otherUsersList{
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  /* width: 50vw; */
  list-style: none;
  max-width:400px;
  min-width: 200px;
  background-color:#2C3142;
}

.singleUser{
  max-width:400px;
  min-width: 400px;
  /* max-height:100px;
  min-height: 100px; */
  margin:15px;
padding:10px;
  object-fit:none;

}

.loggedInUser {
  max-width:400px;
  min-width: 200px;
  /* max-height:200px; */
  min-height: 400px;
  margin-bottom: 50px;
  display:flex;
  flex-direction: column;
  border:1px solid black;
    object-fit:none;
  background-color:rgb(20, 24, 39);

}

.usersImg{
  /* border: 1px solid #ddd; */
  padding: 5px;
  width: 120px;
  height:120px;
    border-radius: 50%;

}

.usersImg:hover {
  box-shadow: 0 0 2px 1px rgba(34, 191, 243, 0.5);
}

.links{
  width:inherit;
  margin-left: auto;
  margin-right: auto;
}