
.homepage {
  display:flex;
  flex-direction: column;
}

.adduser{
  max-width: 100px;
  margin-left: 40px;
  margin-top: 40px 
}

.userList {
  list-style: none;
  width: 50vw;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.user{
  max-width:200px;
  min-width: 200px;
  max-height:200px;
  min-height: 200px;
outline-style: solid;
outline-color: black;
}

.link {
  width: inherit;
  background-color: azure;
}

.userImg {
max-width:150px;
max-height: 150px
}

.userName {
font-size: 10px
}
