.mainBody{
  display:flex;
  width: 80vw;
  padding-right: 2vw;
  /* padding-left: 5vw; */
  /* padding-top: 2vh; */
      text-align: center;

}

.leftArticles{
  /* background-color: rgb(137, 252, 121); */
  width: 1200px;
    /* padding-left: 2vw; */
  padding-top: 2vh;
/* min-width:30%; */
display: flex;
flex-direction: column;
  /* background-color:rgb(231, 167, 194); */
align-items: center;
}

.topOfPage{
/* width:90%; */
  width:90%;
/* margin-left: 20px;*/
margin-right: 20px; 
  background-color: rgb(69, 73, 88);

}

.main{
  display: flex;
  flex-direction: row;
  width:90%
}


.numOfArticles{
  text-align: center;
  /* background-color: #F0433E; */
    width:90%;
  color: white;

}

.topBar {
  display:flex;
  justify-content: space-between;
  flex-wrap:wrap;
  /* background-color: #F0433E; */
  padding-left: 30px; 
  /* margin:10px; */
  border-bottom-style: solid;
  border-bottom-color: black;
  /* margin-left: 20px; */
  min-width:400px;
  /* max-width:90%; */
  /* width:100%; */
}


.addarticle {
    min-width: 100px;
    max-height: 30px;
    background-color: chartreuse;
}

.articleList {
  /* min-width:400px; */
  /* max-width:900px; */
    /* max-width:90%; */
  width: 1160px;
min-width: 300px;
/* max-width:3fr; */

  /* background-color:aliceblue; */
  max-height:80vh;
  overflow: scroll;
  list-style: none;
  text-align: left;
/* width: 50vw; */
}



.rightSide {
    max-width:10vw;
    min-width: 200px;
  padding-top: 4vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* border-left-color: rgb(69, 73, 88);
  border-left-style: solid; */
}

.topArticles{
  background-color: rgb(69, 73, 88);
  /* position: fixed; */
  max-width:175px;
  font-size: 15px;
  /* align-content: center; */
  /* padding-right: 2vw; */
}
.activeUsers {
  /* background-color: white; */
  max-width:175px;
    font-size: 15px;

}

.singleArticle-football {
  background-color:#778899;
  list-style: none;
  /* margin: 0 auto;  */
  /* padding: 10px; 
    margin:10px; */
}

.singleArticle-cooking {
  background-color: #A9A9A9;
  list-style: none;
  /* margin: 0 auto;  */
  /* padding: 10px; 
    margin:10px; */
}

.singleArticle-coding {
  background-color:#DCDCDC;
  list-style: none;
  /* margin: 0 auto;  */
  /* padding: 10px; 
    margin:10px; */
}




.selectedArticle{
    /* padding: 10px;  */
    padding-top: 20px;
    margin:10px;
    display:flex;
    flex-direction: column;
    width: 70%;
  overflow: scroll;
  max-height:80vh;
        background-color: #778899;

}

.commentList{
  max-height:70vh;
  min-height: 20vh;
}

.articleBody-football{
      background-color: #778899;
}

/* .selectedArticle-football{
    padding: 10px; 

} */




