.mainBody{
  display:flex;
  width: 80vw;
  /* padding-right: 2vw; */
  /* padding-left: 5vw; */
  /* padding-top: 2vh; */
      text-align: center;

}

.leftArticles{
  /* background-color: rgb(137, 252, 121); */
  width: 1200px;
    /* padding-left: 2vw; */
  /* padding-top: 2vh; */
/* min-width:30%; */
display: flex;
flex-direction: column;
  /* background-color:rgb(231, 167, 194); */
align-items: center;
}

.topOfPage{
/* width:90%; */
  width:90%;
/* margin-left: 20px;*/
/* margin-right: 20px;  */
  background-color: rgb(38, 40, 54);

}

.main{
  display: flex;
  flex-direction: row;
  width:90%;
  justify-content: stretch;
  align-items: flex-start;
}


.numOfArticles{
  text-align: center;
  /* background-color: #F0433E; */
    width:90%;
  color: white;

}

.topBar {
  display:flex;
  justify-content: space-between;
  flex-wrap:wrap;
  /* background-color: #F0433E; */
    padding-top: 30px; 

  /* margin:10px; */
  /* border-bottom-style: solid;
  border-bottom-color: black; */
  /* margin-left: 20px; */
  min-width:400px;
  /* max-width:90%; */
  /* width:100%; */
  /* border-bottom-color: rgb(69, 73, 88);
  border-bottom-style: solid; */

}


.addARTICLE {
    min-width: 100px;
    /* max-height: 30px; */
    background-color: chartreuse;
    text-align: center;
}

.articleList {
  /* min-width:400px; */
  /* max-width:900px; */
    /* max-width:90%; */
  /* max-width: 1160px; */
  /* width: 1160px; */
/* min-width: 300px; */
/* max-width:3fr; */
width:100%;
margin-left:0px;
padding-left:0px;
/* margin-top:0px; */
  /* background-color:aliceblue; */
  /* max-height:90vh; */
  /* overflow: scroll; */
  list-style: none;
  text-align: left;
/* width: 50vw; */
}



.rightSide {
    max-width:10vw;
    min-width: 200px;
  padding-top: 4vh;
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  /* border-left-color: rgb(69, 73, 88);
  border-left-style: solid; */
}

.topArticles{
  background-color: rgb(69, 73, 88);
  position: fixed;
  max-width:175px;
  font-size: 15px;
  /* align-content: center; */
  /* padding-right: 2vw; */
  margin:10px;
  padding-right: 20px;
}
.activeUsers {
  /* background-color: white; */
  max-width:175px;
    font-size: 15px;

}

.singleArticle-football {
  background-color:#778899;
  list-style: none;
  margin-top: 0px;
padding: 10px; 
  margin-bottom:10px;
      width:100%;

}

.singleArticle-cooking {
  background-color: #A9A9A9;
  list-style: none;
    margin-top: 0px;
    padding: 10px; 
  margin-bottom:10px;
      width:100%;

}

.singleArticle-coding {
  background-color:#DCDCDC;
  list-style: none;
    margin-top: 0px;
    width:100%;

  /* margin: 0 auto;  */
  padding: 10px; 
  margin-bottom:10px;
}
.singleArticle-coding:hover{
  background-color: rgb(245, 190, 89);
}
.singleArticle-football:hover{
  background-color: rgb(245, 190, 89);
}
.singleArticle-cooking:hover{
  background-color: rgb(245, 190, 89);
}


.selectedArticle{
  /* margin-top:30px;
  margin-left:30px; */
  /* padding:20px;
  display:flex;
  flex-direction: column; */
  /* width: 80%; */
  /* overflow: scroll;
  max-height:80vh; */
  background-color: rgb(38, 40, 54);
  /* position: fixed; */
  max-width:70%;
  padding:0px;
  margin:0px;
}


.commentList{
  max-height:90vh;
  min-height: 20vh;
}

.articleBody-football{
      background-color: #778899;
overflow: scroll;
  max-height:80vh;
    width: 100%;
padding:20px;
      /* width:80%; */
}

.articleBody-coding{
  background-color:#DCDCDC;
  overflow: scroll;
  max-height:80vh;
    width: 100%;
    padding:20px;

}

.articleBody-cooking{
  background-color: #A9A9A9;
  overflow: scroll;
  max-height:80vh;
    width: 100%;
    padding:20px;

}

/* .selectedArticle-football{
    padding: 10px; 

} */



.addingArticleForm{
/* display: flex;
flex-direction: column;
align-content: flex-start; */
width:100%;

}

.titletext{
width:100%;
  background-color:#2C3142;
border: none;
    overflow: auto;
    outline: none;
} 

textarea{
width:100%;
height: 100px;
  background-color:#2C3142;
border: none;
    overflow: auto;
    outline: none;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;

} 


.break {
  flex-basis: 100%;
  height: 0;
}

.addingArticleInputs{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.postingArticleButton{
align-self: flex-end;
/* border: none; */
    overflow: auto;
    outline: none;
}

.topicChoice{
  align-self: flex-start;
}


.addTopic{
      background-color: rgb(73, 66, 92);

}

.commentInputs{
  display: flex;
  flex-direction: column;
  text-decoration: none;

}

.commentSubmit{
    align-self: flex-end;

}