.sideBar {
  background-color:hotpink;
  max-width:15vw;
  height:100vh;
  position:fixed;
  text-align: left;
}

.titleNC {
  /* min-width: 300px; */
  height:auto;
  padding-left: 40px;
  margin:0;
  font-size: 15vw;
  color: black;
}

.titleNEWS{
  height:auto;
  padding-left: 2vw;
}

.who {
  color: red;
  padding-left: 2vw;
}

.logged {
  color: lime;
  padding-left: 2vw;
}

.change{
  padding-left: 2vw;
}

.Users{
  padding-left: 2vw;
}

.topicsList {
  padding-left: 2vw;
  padding-right: 2vw;
  overflow: scroll;
  
}

.List{
  height:50vh;
  overflow: scroll;
}