.sideBar {
  /* background-color:#2C3142; */
  width:12vw;
  height:100vh;
  position:fixed;
  text-align: left;
  list-style: none;
/* border-right-color: rgb(69, 73, 88);
  border-right-style: solid; */
}

.logIn{
  background-color:#2C3142;
  border-right-color: rgb(69, 73, 88);
  border-right-style: solid;
  border-bottom-color: rgb(69, 73, 88);
  border-bottom-style: solid;
  padding-top: 10px;
  border-bottom-right-radius: 15px;
}

.bottomList{
  background-color:#2C3142;
border-right-color: rgb(69, 73, 88);
  border-right-style: solid;
  border-top-color: rgb(69, 73, 88);
  border-top-style: solid;
  margin-top: 0px;
  border-top-right-radius: 15px;
  height:100%;

}

.titleNC {
  /* min-width: 300px; */
  height:auto;
  padding-left: 2vw;
  margin:0;
  font-size: 9vw;
  color: #FAAC1C;
  background-color:rgb(6, 9, 27);
  /* margin-right: 5px; */
    /* background-color: rgb(224, 198, 63); */

}

.titleNEWS{
  height:auto;
  padding-left: 2vw;

}

.who {
  color: red;
  padding-left: 2vw;
  text-decoration: none;

}

.logged {
  color: lime;
  /* padding-left: 2vw; */
  text-decoration: none;
  font-weight: 700;
}

.loggedInAs{
    padding-left: 2vw;
  color: grey;

}

.change{
  padding-left: 2vw;
    color: grey;

}

.Users{
  padding-left: 2vw;
    height:auto;

}

.topicsList {
  padding-left: 2vw;
  /* padding-right: 2vw; */
  overflow: scroll;
  background-color:  rgb(69, 73, 88);
    list-style: none;
  text-decoration: none;

}

.List{
  /* height:50vh; */
  overflow: scroll;
  text-decoration: none;
  background-color: rgb(69, 73, 88);
    text-decoration: none;

}

/* .topics-cooking{
  background-color: #A9A9A9;
  text-decoration: none;
}

.topics-football{
    background-color:#778899;
  text-decoration: none;
}

.topics-coding{
    background-color:#DCDCDC;
  text-decoration: none;
} */