.topic {
  color:pink;
  text-decoration: none;
}

.topicsList {
  list-style-type: none;
}

.sideBar {
  grid-area:sideBar;
} 

.topArticleItem {
  background-color: white;
}

.title {
  text-align: center;
  font-size: 10vw;
  height : 80px;
}

.App{
  display: grid;
  grid-auto-columns: 1fr 4fr;
  grid-template-areas: "sideBar router";
  background-color:aliceblue;
  min-height: 100vh;
}

.router{
  grid-area:router;
  display: flex;
  padding-left: 100px;
} 

