.topic {
  color:pink;
  text-decoration: none;
}

.topicsList {
  list-style-type: none;
}

.sideBar {
  background-color: hotPink;
  max-width:150px;
  height:100vh;
  grid-area:sideBar;
  position:fixed;
}

.topArticleItem {
  background-color: white;
}

.title {
  text-align: center;
  font-size: 10vw;
  height : 80px;
}

.App{
  display: grid;
  grid-auto-columns: 1fr 4fr;
  grid-template-areas: "sideBar router";
  background-color:aliceblue;
}

.router{
  grid-area:router;
  display: flex;
  background-color:yellow;

  /* grid-auto-columns: 3fr 1fr;
  grid-template-areas: "articlesList topArticles"; */
} 
.main {
  display:flex;
  background-color:orange;

}

.articleList {
  /* max-width:600px; */
  width:600px;
  grid-area:articlesList;
  background-color:red;
  overflow: scroll;

}

.topArticles {
  width:200px;
  margin: 20px;
  margin-top: 30px;
  padding:20px;
  grid-area:topArticles;
  background-color: grey;
  position: fixed;
  left:70%;
}

.singleArticle-football {
  background-color:blueviolet;
  list-style: none;
  margin: 0 auto; 
}

.singleArticle-cooking {
background-color: aqua;
list-style: none;
margin: 0 auto; 
}

.singleArticle-coding {
background-color: blue;
;
list-style: none;
margin: 0 auto; 
}