.topic {
  color:pink;
  text-decoration: none;
}

.topicsList {
  list-style-type: none;
}

.sideBar {
  background-color: hotPink;
  max-width:150px;
  height:100vh;
  grid-area:sideBar;
}

.title {
  text-align: center;
  font-size: 10vw;
  height : 80px;
}

.App{
  display: grid;
  grid-auto-columns: 1fr 4fr;
  grid-template-areas: "sideBar router";
}

.router{
  grid-area:router;
} 

.singleArticle-football {
background-color:blueviolet;
list-style: none;
width: 600px;
margin: 0 auto; 
}

.singleArticle-cooking {
background-color: aqua;
list-style: none;
width: 600px;
margin: 0 auto; 
}

.singleArticle-coding {
background-color: blue;
;
list-style: none;
width: 600px;
margin: 0 auto; 
}